name: End to End Test

on:
  schedule:
    - cron: '30 3 * * *'

jobs:
  test-linux:
    name: Test Linux
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Config Git
        run: |
          git config --global user.name "test.runner"
          git config --global user.email "test@runner.com"
      - name: Output Kernel Info
        run: |
         docker pull busybox
         docker run busybox uname -a
      - name: Build Titan
        run: make build
      - name: Setup Test Requirements
        run: |
          ssh-keygen -b 2048 -t rsa -f ./sshKey -q -N ""
      - name: Run Test Suit
        run: |
          export PATH=$GITHUB_WORKSPACE/build:$PATH
          make e2e
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}